:root {
  --aqua-color-blue: #007aff;
  --aqua-color-graphite: #333333;
  --aqua-color-white: #ffffff;
  --aqua-color-gray-1: #e0e0e0;
  --aqua-color-gray-2: #c0c0c0;
  --aqua-color-gray-3: #808080;
  --aqua-color-black: #000000;
  --aqua-color-green: #35cb00;
  --aqua-color-yellow: #ffae00;
  --aqua-color-red: #ff3b30;
  --aqua-font-family: 'Lucida Grande', sans-serif;
  --aqua-line-height: 1.3;
  --aqua-font-size: 1.4rem;
  --aqua-shadow-color: rgba(0, 0, 0, 0.35);
  --aqua-box-shadow-1: 0 0.3em 0.3em rgba(0, 0, 0, 0.25);
  --aqua-box-shadow-2: 0 0.6em 1em rgba(0, 0, 0, 0.47);
  --aqua-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  --aqua-bg-stripes: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8) 10px,
    #dcdcdc 14px
  );
}
