:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--aqua-font-family);
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.desktop {
  background-color: #3263a8;
  background-image: url('/img/mac_osx_tiger_wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.desktop__main {
  position: relative;
  flex-grow: 1;
}

.desktop .aqua-window {
  margin: 15px;
  transition: translate 400ms;
}

@media screen and (min-width: 768px) {
  .desktop .aqua-window {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
}
