:root {
  font-size: 62.5%;
}

body {
  background-image: url('/img/mac_osx_tiger_wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--aqua-font-family);
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: #3263a8;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#desktop {
  height: 100vh;
  position: relative;
}

#desktop .aqua-window {
  margin: 15px;
  transition: translate 400ms;
}

.loading {
  cursor:
    url('../../assets/cursor/default.svg') 16 16,
    auto;
}

@media screen and (min-width: 768px) {
  #desktop .aqua-window {
    position: absolute;
    top: 0;
    left: 0;
  }

  #ui-window-info-1 {
    translate: 3% 3%;
  }

  #ui-program-window {
    translate: 50% 90%;
  }

  #aqua-dialog-1 {
    translate: 10% 200%;
  }
}

@media screen and (min-width: 1024px) {
  #ui-window-info-1 {
    translate: 3% 3%;
  }

  #ui-program-window {
    translate: 85% 75%;
  }

  #aqua-dialog-1 {
    translate: 40% 200%;
  }
}
